<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"></link>
<title>Spring Boot</title>
</head>
<body>

	<div class="ui pointing menu">
		<a class="active item"> Home </a>
		<a class="item"> Employees </a>
		<a class="item"> Addresses </a>
		<div class="right menu">
			<div class="item">
				<div class="ui transparent icon input">
					Search
				</div>
			</div>
		</div>
	</div>
	<div class="ui segment">
		<p>Paragraph</p>
	</div>


	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

</body>
</html>